<!-- Notifications -->
<section class="col-xs-12">
    <span class="alert alert-danger" data-ng-if="app.isInvalidUser">The Github user does not exist</span>
    <span class="alert alert-danger" data-ng-if="app.apiDown">Github API does not respond</span>
    <span class="alert alert-info" data-ng-if="!app.isFetching && !app.items.length">Github user has no repos</span>

    <div class="loader" data-ng-if="app.isFetching && !app.items.length && !app.isInvalidUser">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
</section>
<!-- / Notifications -->

<!-- List result -->
<comp-repos repos="app.items" test="app.test" class="col-xs-12 repos" data-ng-if="app.items.length > 0"></comp-repos>
<!-- / List result -->